<h4><span id="home-link">{{#link-to 'index'}}ghoulslist{{/link-to}}</span> > {{category.name}}</h4>

{{#each sortedListings as |listing|}}
<p>
  {{#link-to 'listing' listing.id}}<span>{{listing.title}}</span>{{/link-to}}
  <span id="price">${{listing.price}}</span>
  <span>({{listing.location}})</span>
</p>
{{/each}}
