h1 {
  text-align: center;
  margin-top: 0 !important;
}

a, a:hover, a:visited {
  color: #FF8900;
}

.btn:hover {
  background: #563A6F;
  color: #FFF;
}

.btn {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}

#logo {
  width: 75px;
  height: auto;
  display: block;
  margin: 20px auto 0;
}

#footer {
  text-align: center;
}
