h1 {
  text-align: center;
  margin-top: 0 !important;
}

a, a:hover, a:visited {
  color: #FF8900;
}

.btn:hover {
  background: #563A6F;
  color: #FFF;
}

.btn {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}

.well {
  max-width: 300px;
  text-align: center;
  display: block;
  margin: 10px auto;
}

#logo {
  width: 75px;
  height: auto;
  display: block;
  margin: 20px auto 0;
}

#footer {
  text-align: center;
  margin-top: 30px;
}

#delete {
  color: #FF8900;
  cursor: pointer;
}

#new-listing {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin: 30px auto;
}

#form {
  width: 500px;
  display: block;
  margin: 30px auto;
}

#form-buttons {
  text-align: center;
}
