<div class="container">
  <header id="header">
    {{#link-to 'index'}}<img id="logo" src="/assets/images/ghost.svg" alt="Ghost List">{{/link-to}}
    <h1>ghoulslist</h1>
  </header>

  {{outlet}}

  <footer id="footer">
    <h6>&copy; 2016 ghoulslist</h6>
  </footer>
</div>
